graft src/collective
graft docs/
include *.cfg *.rst *.in
include *.py
exclude .coveragerc
exclude .editorconfig
exclude .gitattributes
recursive-include docs *.GPL
recursive-include docs *.rst
global-exclude *pyc
