graft src/collective
graft docs/
include *.cfg *.rst *.in
include *.py
exclude .coveragerc
exclude .editorconfig
exclude .gitattributes
exclude .installed.cfg
exclude .mr.developer.cfg
recursive-include docs *.GPL
recursive-include docs *.rst
global-exclude *pyc
